.container {
  display: flex;
  height: 100vh;
  background-color: #023859;
  color: #A7EBF2;
}

/* LEFT PANEL */
.chatPanel {
  width: 30%;
  padding: 20px;
  background-color: #011C40;
  display: flex;
  flex-direction: column;
}

.textarea {
  margin-top: 20px;
  height: 200px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  resize: none;
  font-size: 14px;
}

.generateButton {
  margin-top: 15px;
  padding: 10px;
  background-color: #26658C;
  color: #A7EBF2;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* RIGHT PANEL */
.rightPanel {
  width: 70%;
  display: flex;
  flex-direction: column;
}

/* CODE */
.codePanel {
  flex: 1;
  padding: 20px;
  background-color: #023859;
}

.codeArea {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-family: monospace;
  font-size: 14px;
}

/* PREVIEW */
.previewPanel {
  flex: 1;
  padding: 20px;
  background-color: #54ACBF;
  color: #011C40;
}

.previewBox {
  margin-top: 10px;
  background: #A7EBF2;
  height: 100%;
  border-radius: 8px;
  padding: 15px;
}
